.root_pane {
    -fx-font-family: 'Roboto Regular';
    -fx-font-size: 1em;
    -fx-basic-color   : #8eb6b4;
    -fx-spacing    : 4px;
    -fx-background-color: #273952;
    -fx-text-fill: white;
    -fx-min-width: 1000px;
}
.main-header {
    -fx-background-color: -fx-basic-color;
    -fx-pref-height: 40px;
    -fx-pref-width: 100%;
    -fx-min-width: 900px;
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 1.35em;
    -fx-border-color: #273952;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-text-fill: green;
}
.orders_pane {
    -fx-font-family: 'Roboto Bold';
    -fx-lighter-color : derive(-fx-basic-color, 85%);
    -fx-padding    : 4px,10px,4px,10px;
    -fx-spacing    : 10px;
    -fx-background-color: black ;
    -fx-text-fill: white;
    -fx-min-width: 700px;
}

.invalid .text {
    -fx-stroke: red;
}
.invalid {
    -fx-border-color: derive(red,30%);
}

.mandatory{
    -fx-background-color: white;
    -fx-background-insets: 0, 2;
}

.fontawesome .text {
    -fx-font-family: "FontAwesome";
}

.flaticon .text {
    -fx-font-family: "Flaticon";
}

.activity-pane{
    -fx-font-family: 'Roboto Regular';
    -fx-background-color: #fff;
    -fx-font-size: 1.15em;
    -fx-text-fill: #323438;
    -fx-spacing: 15;

}
.couriers-pane{
    -fx-padding: 5;
    -fx-background-color: black;
    -fx-text-fill: #8A8C95;
    -fx-spacing: 20;
    -fx-min-width: 500px;
}
.tasks-pane{
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-spacing: 20;
    -fx-min-width: 500px;
}

.table-view {
    -fx-font-family: 'Roboto Regular';
    -fx-text-fill: white;
    -fx-font-size: 1em;
    -fx-base: -fx-basic-color;
    -fx-control-inner-background: #323438;
    -fx-background-color: #3A3E46;
    -fx-table-header-background-color: -fx-basic-color;
    -fx-padding: 10;
}

.table-view .column-header{
    -fx-font-size: 0.9em;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto Regular';
    -fx-border-width: 0.5 0 0 0.5;
    -fx-border-color:
            derive(-fx-basic-color, 70%)
            transparent
            transparent
            derive(-fx-base, 50%);
    -fx-border-insets: 0.5 0 0 0.5;
    -fx-label-padding: 3;

}
.table-row-cell:selected {
    -fx-background-color: #8ea6b4;
    -fx-text-background-color: whitesmoke;
}

.table-view .cell {
    -fx-cell-size: 2.5em;
    -fx-border-color: transparent;
}
.table-row-cell {
    -fx-border-color: #000;
    -fx-border-width: 0.2 0 0 0;
    -fx-border-insets: 0.2 0 0 0;
}
.table-view .text-area{
    -fx-wrap-text: true;
}
.slider > .track{
    -fx-background-color: #00bfa5;

}
.slider .slider-value{
    -fx-fill: white;
    -fx-stroke: #ff8f56;
}
.slider > .thumb{
    -fx-background-color: #a7ffeb;
}
.label {
    -fx-font-family: 'Roboto Bold';
    -fx-padding: 5;
    -fx-text-fill: #333;
    -fx-label-padding: 5;
    -fx-min-width: 120px;
}
.footer {
    -fx-background-color: -fx-basic-color;
    -fx-text-fill: white;
    -fx-font-size: 1.15em;
    -fx-font-family: 'Roboto Bold';

}
.footer > .text {
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 1.15em;
    -fx-text-fill: #333;
    -fx-padding: 5;

}
.button{
    -fx-border-color: #8ea6b4;
    -fx-border-width: 1px;
    -fx-padding: 5 10 5 10;
}
.textfield{
    -fx-font-family: 'Roboto Bold';
    -fx-padding: 10;
    -fx-text-fill: #333;
    -fx-min-width: 120px;
    -fx-min-height: 70;
}
.spacer {
    -fx-pref-width: 20;
    -fx-min-width : 20;
    -fx-max-width : 20;
}

.alert{
    -fx-font-size: 1.25em;
    -fx-font-family: 'Roboto Bold';
    -fx-padding: 5;
    -fx-background-color: #a7ffeb;

}